* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #4f5665;
  --second-text-color: #0b132a;
  --main-color: #f53838;
  --h1color: rgba(11, 19, 42, 1);
}

.flex {
  display: flex;
  align-items: center;
  gap: 35px;
}

.continer {
  width: 1280px;
  margin: auto;
}

button {
  transition: 0.2s all;
  cursor: pointer;
}

header {
  width: 100%;
  height: 120px;
  background-color: white;
  position: sticky;
  top: 0;
  padding-top: 20px;
}
header .head_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .head_nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
header .head_nav ul a {
  text-decoration: none;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  color: var(--text-color);
}
header .head_nav button:first-child {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: center;
  width: 100px;
  height: 20px;
  background-color: transparent;
  border: none;
  color: var(--second-text-color);
}
header .head_nav button:nth-child(2) {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid rgb(245, 56, 85);
  color: var(--main-color);
  background-color: transparent;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: center;
}
header .head_nav button:nth-child(2):hover {
  background-color: var(--main-color);
  color: white;
}

.section-1 {
  width: 100%;
  height: 100%;
}
.section-1 .lases_vpn {
  display: flex;
  padding: 100px 0px;
}
.section-1 .lases_descriptions h1 {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
  color: var(--h1color);
  width: 565px;
  padding-bottom: 20px;
}
.section-1 .lases_descriptions h1 span {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  color: rgb(11, 19, 42);
}
.section-1 .lases_descriptions p {
  width: 555px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(79, 86, 101);
  padding-bottom: 50px;
}
.section-1 .lases_descriptions p span {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.section-1 .lases_descriptions button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(245, 56, 56);
  border: none;
  box-shadow: rgba(237, 67, 25, 0.6) 0px 48px 100px 0px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.section-1 .lases_descriptions button:hover {
  color: rgb(245, 56, 56);
  background-color: transparent;
  border: 1px solid rgb(245, 56, 56);
}

.section-2 {
  width: 1140px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  margin-bottom: 250px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.section-2 .info_lases_vpn {
  display: flex;
  justify-content: space-between;
}
.section-2 .info_lases_vpn_user h4 {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: var(--h1color);
  padding-bottom: 5px;
}
.section-2 .info_lases_vpn_user p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(79, 86, 101);
}

.section-3 {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}
.section-3 .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 170px;
}
.section-3 .features .features-about {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.section-3 .features .features-about h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--second-text-color);
}
.section-3 .features .features-about p {
  color: var(--text-color);
}
.section-3 .features .features-about ul {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.section-3 .features .features-about ul li {
  color: var(--text-color);
}
.section-3 .features .features-about ul li i {
  padding: 10px 12px;
  background: rgb(0, 255, 123);
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
}

.section-4 {
  width: 100%;
  height: 100%;
  padding: 150px 0px;
}
.section-4 .choose_plans_descriptons {
  text-align: center;
}
.section-4 .choose_plans_descriptons h1 {
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: var(--second-text-color);
  padding-bottom: 20px;
}
.section-4 .choose_plans_descriptons p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
  padding-bottom: 60px;
}
.section-4 .choose_plans_box {
  width: 330px;
  height: 860px;
  border-radius: 10px;
  border: 2px solid grey;
  text-align: center;
  padding: 80px 90px;
}
.section-4 .choose_plans_box img {
  width: 150px;
  margin-bottom: 30px;
}
.section-4 .choose_plans_box .choose_plans_box_text {
  display: flex;
  align-items: center;
  gap: 50px;
}
.section-4 .choose_plans_box .choose_plans_box_text img {
  display: flex;
  align-items: center;
}

.huge-global_vpn {
  padding: 150px 0px;
  width: 100%;
}
.huge-global_vpn h1 {
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: rgb(11, 19, 42);
  padding-bottom: 20px;
}
.huge-global_vpn p {
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(79, 86, 101);
}
.huge-global_vpn p span {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.maps {
  text-align: center;
  padding: 0px 100px;
}
.maps .maps_imgs {
  width: 1060px;
  height: 537.77px;
  text-align: center;
}

.section-5 {
  padding: 100px 0px;
}
.section-5 .customer_descriptions {
  text-align: center;
  padding: 50px 400px;
}
.section-5 .customer_descriptions h1 {
  height: 100px;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: rgb(11, 19, 42);
  margin-bottom: 20px;
}
.section-5 .customer_descriptions p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 555px;
  height: 60px;
  color: rgb(79, 86, 101);
}
.section-5 .cards_parents {
  display: flex;
  justify-content: space-between;
}
.section-5 .cards_parents .cards {
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  margin-bottom: 50px;
  cursor: pointer;
  border: 2px solid transparent;
}
.section-5 .cards_parents .cards .cards_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-5 .cards_parents .cards .cards_text .info_text {
  display: flex;
  padding-bottom: 20px;
  gap: 20px;
}
.section-5 .cards_parents .cards .cards_text .cards_price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.section-5 .cards_parents .cards .cards_text .cards_bottom {
  width: 340px;
  height: 100px;
  top: 4194.25px;
  left: 180px;
  gap: 0px;
  opacity: 0px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(11, 19, 42);
}
.section-5 .cards_parents .cards:hover {
  border: 2px solid rgb(245, 56, 56);
  transition: all 0.5s linear;
}

.section-6 {
  padding: 100px 0px;
}
.section-6 .subscribe_div {
  width: 1140px;
  height: 233px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 12px 49px 8px rgba(34, 60, 80, 0.2);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 70px;
}
.section-6 .subscribe_div h1:first-child {
  width: 371.61px;
  height: 80px;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: rgb(11, 19, 42);
  margin-bottom: 20px;
}
.section-6 .subscribe_div p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(79, 86, 101);
}
.section-6 .subscribe_div .subscribe_btn button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 3px 26px 48px 18px rgba(234, 60, 29, 0.2);
  background-color: rgb(245, 56, 56);
  border: 1px solid transparent;
  cursor: pointer;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: rgb(255, 255, 255);
}
.section-6 .subscribe_div .subscribe_btn button:hover {
  background-color: transparent;
  color: crimson;
  border: 1px solid red;
  transition: all 0.3s linear;
}/*# sourceMappingURL=style.css.map */