* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
    list-style: none;
    text-decoration: none;
}

:root {
    --text-color: #4f5665;
    --second-text-color: #0b132a;
    --main-color: #f53838;
    --h1color: rgba(11, 19, 42, 1);

}

.flex {
    display: flex;
    align-items: center;
    gap: 35px;
}

.continer {
    width: 1280px;
    margin: auto;
}

button {
    transition: 0.2s all;
    cursor: pointer;
}

header {
    width: 100%;
    height: 120px;
    background-color: white;
    position: sticky;
    top: 0;
    padding-top: 20px;

    .head_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 40px;
            list-style: none;

            a {
                text-decoration: none;
                font-family: Rubik;
                font-size: 18px;
                font-weight: 400;
                line-height: 18.96px;
                text-align: left;
                color: var(--text-color);
            }
        }

        button:first-child {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 500;
            line-height: 18.96px;
            text-align: center;
            width: 100px;
            height: 20px;
            background-color: transparent;
            border: none;
            color: var(--second-text-color);
        }

        button:nth-child(2) {
            width: 150px;
            height: 45px;
            border-radius: 50px;
            border: 1px solid rgba(245, 56, 85, 1);
            color: var(--main-color);
            background-color: transparent;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 500;
            line-height: 18.96px;
            text-align: center;

        }

        button:nth-child(2):hover {
            background-color: var(--main-color);
            color: white;

        }
    }
}

.section-1 {
    width: 100%;
    height: 100%;

    .lases_vpn {
        display: flex;
        padding: 100px 0px;
    }

    .lases_descriptions {

        h1 {
            font-family: Rubik;
            font-size: 50px;
            font-weight: 500;
            line-height: 70px;
            text-align: left;
            color: var(--h1color);
            width: 565px;
            padding-bottom: 20px;

            span {
                font-family: Rubik;
                font-size: 50px;
                font-weight: 700;
                line-height: 70px;
                text-align: left;
                color: rgba(11, 19, 42, 1);
            }


        }

        p {
            width: 555px;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: rgba(79, 86, 101, 1);
            padding-bottom: 50px;

            span {
                font-family: Rubik;
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                text-align: left;
            }
        }

        button {
            width: 250px;
            height: 60px;
            border-radius: 10px;
            background-color: rgba(245, 56, 56, 1);
            border: none;
            box-shadow: rgba(237, 67, 25, 0.6) 0px 48px 100px 0px;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
            color: rgba(255, 255, 255, 1);
        }

        button:hover {
            color: rgba(245, 56, 56, 1);
            background-color: transparent;
            border: 1px solid rgba(245, 56, 56, 1);
        }
    }
}

.section-2 {
    width: 1140px;
    height: 200px;
    // background-color: red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    margin-bottom: 250px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    .info_lases_vpn {
        display: flex;
        justify-content: space-between;

    }

    .info_lases_vpn_user {

        h4 {
            font-family: Rubik;
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: var(--h1color);
            padding-bottom: 5px;
        }

        p {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: rgba(79, 86, 101, 1);
        }
    }
}

.section-3 {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;

    .features {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 170px;

        .features-about {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 3rem;
                font-weight: 500;
                color: var(--second-text-color);
            }

            p {
                color: var(--text-color);
            }

            ul {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                gap: 20px;

                li {
                    color: var(--text-color);

                    i {
                        padding: 10px 12px;
                        background: rgb(0, 255, 123);
                        border-radius: 50%;
                        color: #fff;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.section-4 {
    width: 100%;
    height: 100%;
    padding: 150px 0px;


    .choose_plans_descriptons {
        text-align: center;

        h1 {
            font-family: Rubik;
            font-size: 35px;
            font-weight: 500;
            line-height: 50px;
            text-align: center;
            color: var(--second-text-color);
            padding-bottom: 20px;
        }

        p {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            color: var(--text-color);
            padding-bottom: 60px;
        }
    }

    .choose_plans_box {
        width: 330px;
        height: 860px;
        border-radius: 10px;
        border: 2px solid grey;
        text-align: center;
        padding: 80px 90px;

        img {
            width: 150px;
            margin-bottom: 30px;
        }

        .choose_plans_box_text {
            display: flex;
            align-items: center;
            gap: 50px;

            img {
                // width: 870px;
                display: flex;
                align-items: center;
            }
        }

    }
}

.huge-global_vpn {
    padding: 150px 0px;
    width: 100%;

    h1 {
        font-family: Rubik;
        font-size: 35px;
        font-weight: 500;
        line-height: 50px;
        text-align: center;
        color: rgba(11, 19, 42, 1);
        padding-bottom: 20px;
    }

    p {
        text-align: center;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: rgba(79, 86, 101, 1);

        span {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
        }

    }

}

.maps {
    text-align: center;
    padding: 0px 100px;

    .maps_imgs {
        width: 1060px;
        height: 537.77px;
        text-align: center;
    }
}

.section-5 {
    padding: 100px 0px;

    .customer_descriptions {
        text-align: center;
        padding: 50px 400px;

        h1 {
            height: 100px;
            font-family: Rubik;
            font-size: 35px;
            font-weight: 500;
            line-height: 50px;
            text-align: center;
            color: rgba(11, 19, 42, 1);
            margin-bottom: 20px;
        }

        p {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            width: 555px;
            height: 60px;
            color: rgba(79, 86, 101, 1);
        }
    }

    .cards_parents {
        display: flex;
        justify-content: space-between;

        .cards {
            width: 400px;
            height: 230px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 1);
            padding: 30px;
            margin-bottom: 50px;
            cursor: pointer;
            border: 2px solid transparent;

            .cards_text {
                display: flex;
                align-items: center;
                justify-content: space-between;


                .info_text {
                    display: flex;
                    padding-bottom: 20px;
                    gap: 20px;
                }

                .cards_price {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }

                .cards_bottom {
                    width: 340px;
                    height: 100px;
                    top: 4194.25px;
                    left: 180px;
                    gap: 0px;
                    opacity: 0px;
                    font-family: Rubik;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: left;
                    color: rgba(11, 19, 42, 1);
                }
            }
        }

        .cards:hover {
            border: 2px solid rgba(245, 56, 56, 1);
            transition: all 0.5s linear;
        }
    }

}