* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #4f5665;
  --second-text-color: #0b132a;
  --main-color: #f53838;
  --h1color: rgba(11, 19, 42, 1);
}

.flex {
  display: flex;
  align-items: center;
  gap: 35px;
}

.continer {
  width: 1280px;
  margin: auto;
}

button {
  transition: 0.2s all;
  cursor: pointer;
}

header {
  width: 100%;
  height: 120px;
  background-color: white;
  position: sticky;
  top: 0;
  padding-top: 20px;
}
header .head_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .head_nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
header .head_nav ul a {
  text-decoration: none;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  color: var(--text-color);
}
header .head_nav button:first-child {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: center;
  width: 100px;
  height: 20px;
  background-color: transparent;
  border: none;
  color: var(--second-text-color);
}
header .head_nav button:nth-child(2) {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid rgb(245, 56, 85);
  color: var(--main-color);
  background-color: transparent;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: center;
}
header .head_nav button:nth-child(2):hover {
  background-color: var(--main-color);
  color: white;
}

.section-1 {
  width: 100%;
  height: 100%;
}
.section-1 .lases_vpn {
  display: flex;
  padding: 100px 0px;
}
.section-1 .lases_descriptions h1 {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
  color: var(--h1color);
  width: 565px;
  padding-bottom: 20px;
}
.section-1 .lases_descriptions h1 span {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  color: rgb(11, 19, 42);
}
.section-1 .lases_descriptions p {
  width: 555px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(79, 86, 101);
  padding-bottom: 50px;
}
.section-1 .lases_descriptions p span {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.section-1 .lases_descriptions button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(245, 56, 56);
  border: none;
  box-shadow: rgba(237, 67, 25, 0.6) 0px 48px 100px 0px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.section-1 .lases_descriptions button:hover {
  color: rgb(245, 56, 56);
  background-color: transparent;
  border: 1px solid rgb(245, 56, 56);
}

.section-2 {
  width: 1140px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  margin-bottom: 250px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.section-2 .info_lases_vpn {
  display: flex;
  justify-content: space-between;
}
.section-2 .info_lases_vpn_user h4 {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: var(--h1color);
  padding-bottom: 5px;
}
.section-2 .info_lases_vpn_user p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(79, 86, 101);
}

.section-3 {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}
.section-3 .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 170px;
}
.section-3 .features .features-about {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.section-3 .features .features-about h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--second-text-color);
}
.section-3 .features .features-about p {
  color: var(--text-color);
}
.section-3 .features .features-about ul {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.section-3 .features .features-about ul li {
  color: var(--text-color);
}
.section-3 .features .features-about ul li i {
  padding: 10px 12px;
  background: rgb(0, 255, 123);
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */